<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>Pizza Cabin - Scheduling helper</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>

    <div class="page-header">
        <h1>Pizza Cabin - Scheduling assistant<small> scheduling made fun...</small></h1>
    </div>

    <form class="form-inline" action="#" th:action="@{/scheduler}" th:object="${scheduler}" method="post">
        <div class="form-group">
            <label for="mandatoryNo">Number of attendants</label>
            <input type="text" class="form-control" th:field="*{mandatoryNo}" placeholder="4" />
        </div>
        <button type="submit" class="btn btn-default">Search...</button>
    </form>
    <br/>
    <div th:each="slot,iterStat: ${slots}">
        <div class="panel panel-default">
            <div class="panel-heading panel-primary bg-success lead">
                <span th:text="'#'+${iterStat.count}" />
                Starting: <strong th:text="${slot.startTime}" />
                , Ending: <strong th:text="${slot.endTime}" />
                , Available experts: <strong th:text="${slot.available}" />
            </div>

            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start</th>
                    <th>Duration (minutes)</th>
                </thead>
                <tr th:each="proj: ${slot.projections}">
                    <td th:text="${proj.name}"></td>
                    <td th:text="${proj.Description}"></td>
                    <td th:text="${proj.Start}"></td>
                    <td th:text="${proj.minutes}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>